<%- include("./partials/header.ejs") %>
<body>
    <div class="recipe-container">
        <h1>dish:<%= title %></h1>
        <h2>ingredients:<%= ingredients %></h2>
        <p>instructions:<%=instructions  %></p>
    </div>
    
<%-include("./partials/footer.ejs") %>